.signup-main{
    /* background-color: red; */
    max-width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(66, 42, 116);

}
.signup-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: white;
    margin: 15px 80px;

}
.signup-heading{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(73, 72, 72);
}
.signup-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
    width: 80%;
}
.Sform-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 20px;

    /* align-items: center; */
}
.input-field{
    /* border: none; */
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid grey;
    color: grey;
}
.btn-signup{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(224, 194, 2);
    border: 1px solid rgb(224, 194, 2);
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-signup:hover{
    background-color: rgb(202, 176, 4);
    border-color: black;
}
.img{
    width: 100%;
}
.signupimg{
    width: 90%;
}
.row1{
    display: flex;
    /* padding-top: 2rem; */
    /* background-color: red; */
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.signupForm{
    width: 100%;
}


