.forgetpass-main{
    /* background-color: red; */
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 42, 116);

}
.forgetpass{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.forget-heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 2rem;
    font-weight: 800;
}
.form-main-forget{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.for-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forimg{
    width: 80%;
}